@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

html{
    font-size : 10px;
    --background : #1b1d1f;
    --bg1 : #2c2f33;
    --grayA : #3f3f46;
    --grayB : #52525b;
    --grayC : #71717a;
    --grayD : #a1a1aa;
    --grayE : #d4d4d8;
    --main-font : 'Archivo Black', sans-serif;
}

#content{
    height : 100vh;
    width : 100vw;
    background-color: var(--background);
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1rem;
    overflow: auto;
}

.title{
    font-family: var(--main-font);
    font-size : 5rem;
}

.title-1{
    color : var(--grayB);
}

.title-2{
    color : var(--grayE);
}

.search-bar{
    display: flex;
    flex-direction: row;
}

#search{
    font-size : 2rem;
    padding : 1rem;
    font-family: var(--main-font);
    background-color: var(--bg1);
    color : var(--grayD);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border : none;
}

#search:focus{
    outline: none;
}

.search-btn{
    width : 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grayA);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition : all 0.3s;
}

.search-btn img{
    height : 3rem;
    width : 3rem;
}

.search-btn:hover{
    cursor: pointer;
    background-color: var(--grayB);
}

.err-msg{
    font-family: var(--main-font);
    font-size: 3rem;
    color : var(--grayD);
}

.main-container{
    height : 100%;
    width : 100%;
    padding : 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--main-font);
}

.cur-weather{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cur-title{
    grid-row: 1 / span 2;
    grid-column: 1 / 6;
    display: flex;
    align-items: center;
    color : var(--grayE);
    font-size : 3rem;
}

.new-search{
    grid-row: 1 / span 2;
    grid-column: 8 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-search-btn{
    display: flex;
    align-items: center;
    background-color: var(--bg1);
    color : var(--grayD);
    font-size : 2rem;
    border-radius: 1rem;
    padding : 1rem;
    transition: all 0.3s;
}

.new-search-btn:hover{
    cursor: pointer;
    color : var(--grayE);
}

.switch{
    grid-row: 1 / span 2;
    grid-column: 10 / -1;
    display: flex;
    align-items: center;
}

.switch-btn{
    height : 5rem;
    width : 5rem;
    background-color: var(--bg1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    
    color : var(--grayD);
    font-size: 2rem;
    padding : 0.5rem;
    transition: all 0.3s;
}

.switch-btn:hover{
    cursor: pointer;
    color : var(--grayE);
}


.cur-left-container{
    grid-column: 1 / 4;
    grid-row: 3 / -1;
    color : var(--grayD);

    display : flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.left-flex-container{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1rem;
    padding : 1rem;
    font-size : 2.5rem;
}

.cur-temperature{
    font-size : 8rem;
    color: var(--grayE);
}


.cur-right-container{
    grid-column: 4 / -1;
    grid-row: 3 / -1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 2rem;
    padding : 1rem;
}


.cur-right-container img{
    height : 4rem;
    width : 4rem;
}

#cur-weather-svg{
    height : 6rem;
    width : 6rem;
}

.cur-desc{
    font-size: 3rem;
    color : var(--grayE);
}


.right-flex-container{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap : 1rem;
    row-gap : 1rem;
}

.right-card{
    border-radius : 1rem;
    background-color : var(--bg1);
    height : 15rem;
    width : 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1rem;
    padding : 1rem;
    transition: all 0.3s;
}

.right-card:hover{
    cursor: pointer;
    background-color: var(--grayA);
}

.right-title{
    font-size : 1.5rem;
    color : var(--grayE);
}

.right-val{
    font-size : 2rem;
    color : var(--grayD);
}

.future-weather{
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

.future-title{
    color : var(--grayE);
    font-size : 3rem;
}

.future-cards-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.future-cards-container{
    display : flex;
    flex-direction: row;
    gap : 1rem;
    padding : 1rem;
    overflow: auto;
}

.future-cards-container::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: var(--bg1);
}

.future-cards-container::-webkit-scrollbar
{
	width: 12px;
	border-radius: 10px;
	background-color: var(--bg1);
}

.future-cards-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--grayB);
}


.future-card{
    flex-shrink: 0;
    height : 17rem;
    width : 17rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1rem;

    background-color: var(--bg1);
    padding : 1rem;
    border-radius : 1rem;
    transition: all 0.3s;
}

.future-date{
    font-size : 2rem;
    color : var(--grayE);
}

.future-temperature{
    font-size : 3rem;
    color : var(--grayE);
}

.future-card img{
    height : 4.5rem;
    width : 4.5rem;
}

.future-card:hover{
    cursor: pointer;
    background-color: var(--grayA);
}

